# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

### Common ###
# Local env files
.env

### Frontend - Next.js ###
# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Set environment variables on jest
setEnvVars.js

# Vercel
.vercel

### Backend - Go ###
# Binaries for programs and plugins
backend/*.exe
backend/*.exe~
backend/*.dll
backend/*.so
backend/*.dylib

# Test binary, built with `go test -c`
backend/*.test

# Output of the go coverage tool, specifically when used with LiteIDE
backend/*.out

# Temporary directory of air
backend/tmp/

# GCP Setting
backend/.gcloudignore
backend/app.yaml
