@use "styles/variables";

.container {
  position: relative;

  .menu {
    position: absolute;
    top: 32px;
    left: -88px;
    z-index: 8;
    padding: 8px 0;
    background-color: var(--c-surface);
    border: 1px solid var(--c-outline);
    border-radius: 4px;
    @include variables.dp08;
  }
}

.menuItem {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 112px;
  height: 48px;
  color: var(--c-error);
  list-style: none;
  @include variables.button;

  &:hover {
    background-color: var(--c-hover);
  }
}
