.container {
  display: flex;
  flex-direction: column;
  width: 360px;
  min-height: calc(100vh - 64px);
  padding: 0 12px 12px;
  color: rgb(var(--c-on-surface-rgb));
  background-color: var(--c-surface);
}

.top {
  display: flex;
  gap: 8px;
  align-items: center;
}

.title {
  font-size: var(--t-title-large-size);
  font-weight: var(--t-title-large-weight);
  line-height: var(--t-title-large-line-height);
  color: rgb(var(--c-on-surface-rgb));
  letter-spacing: var(--t-title-large-letter-spacing);
}

.fieldList {
  margin-top: 16px;
}

.fieldListItem {
  display: flex;
  padding: 8px 12px;
  color: rgb(var(--c-on-surface-variant-rgb));
}

.fieldName {
  flex: 1 1 0;
  margin-left: 8px;
  font-size: var(--t-title-medium-size);
  font-weight: var(--t-title-medium-weight);
  line-height: var(--t-title-medium-line-height);
  color: rgb(var(--c-on-surface-variant-rgb));
  letter-spacing: var(--t-title-medium-letter-spacing);
}

.fieldValue {
  font-size: var(--t-title-medium-size);
  font-weight: var(--t-title-medium-weight);
  line-height: var(--t-title-medium-line-height);
  color: rgb(var(--c-on-surface-rgb));
  letter-spacing: var(--t-title-medium-letter-spacing);
}

.spacer {
  flex: 1 1 0;
}

.actionListItem {
  position: relative;
  display: flex;
  gap: 12px;
  align-items: center;
  width: 336px;
  height: 56px;
  padding: 0 24px 0 16px;
  color: rgb(var(--c-on-surface-variant-rgb));
  background-color: var(--c-surface);
  border-radius: 28px;
}

.actionListItemLayer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 28px;
}

.actionListItem:hover > .actionListItemLayer {
  background-color: rgb(var(--c-on-surface-variant-rgb) / 16%);
}

.actionListItem:focus > .actionListItemLayer {
  background-color: rgb(var(--c-on-surface-variant-rgb) / 24%);
}

.actionListItem:active > .actionListItemLayer {
  background-color: rgb(var(--c-on-surface-variant-rgb) / 20%);
}

.actionName {
  font-size: var(--t-label-large-size);
  font-weight: var(--t-label-large-weight);
  line-height: var(--t-label-large-line-height);
  color: rgb(var(--c-on-surface-variant-rgb));
  letter-spacing: var(--t-label-large-letter-spacing);
}
