@use "styles/variables";

.container {
  z-index: 8;
  display: flex;
  gap: 32px;
  justify-content: space-between;
  padding: 16px;
  border-radius: 4px;
  @include variables.dp08;
}

.timer {
  display: flex;
  gap: 4px;
  align-items: center;
  @include variables.headline6;
}

.title {
  display: -webkit-box;
  max-width: 360px;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  @include variables.subtitle1;
}

.isPomodoro {
  color: var(--c-on-primary-high);
  background-color: var(--c-primary);
}

.isNotPomodoro {
  color: var(--c-on-secondary-high);
  background-color: var(--c-secondary);
}
