.background {
  min-height: 100vh;
  background-color: var(--c-background);
}

@media screen and (min-width: 905px) {
  .flexInDesktop {
    display: flex;
  }

  .mainLayoutInDesktop {
    flex: 1 1 0;
  }
}
