@use "../../variables";

.outer {
  display: flex;
  justify-content: space-between;
  height: 40px;
  padding: 8px 0;

  .leftWrapper {
    display: flex;
    gap: 16px;
    align-items: center;
    color: var(--c-on-light-high-emphasis);

    @include variables.body1;
  }

  .term {
    color: var(--c-on-light-medium-emphasis);

    @include variables.body2;
  }
}
