:root {
  --c-primary: #6750a4;
  --c-primary-container: #eaddff;
  --c-secondary: #625b71;
  --c-secondary-container: #e8def8;
  --c-tertiary: #7d5260;
  --c-tertiary-container: #ffd8e4;
  --c-surface: #fffbfe;
  --c-surface-variant: #e7e0ec;
  --c-background: #fffbfe;
  --c-error: #b3261e;
  --c-error-container: #f9dedc;
  --c-on-primary: rgb(255 255 255);
  --c-on-primary-container: rgb(33 0 94);
  --c-on-secondary: rgb(255 255 255);
  --c-on-secondary-container: rgb(30 25 43);
  --c-on-tertiary: rgb(255 255 255);
  --c-on-tertiary-container: rgb(55 11 30);
  --c-on-surface: rgb(28 27 31);
  --c-surface-hover: rgb(28 27 31 / 8%);
  --c-surface-focus: rgb(28 27 31 / 12%);
  --c-surface-press: rgb(28 27 31 / 12%);
  --c-on-surface-variant: rgb(73 69 78);
  --c-on-error: rgb(255 255 255);
  --c-on-error-container: rgb(55 11 30);
  --c-on-background: rgb(28 27 31);
  --c-outline: #79747e;
  --c-shadow: #000;
  --c-inverse-surface: #313033;
  --c-inverse-on-surface: rgb(244 239 244);
  --c-inverse-primary: #d0bcff;
  --s-elevation1: 0 1px 2px rgb(0 0 0 / 30%), 0 1px 3px 1px rgb(0 0 0 / 15%);
  --s-elevation2: 0 1px 2px rgb(0 0 0 / 30%), 0 2px 6px 2px rgb(0 0 0 / 15%);
  --s-elevation3: 0 4px 8px 3px rgb(0 0 0 / 15%), 0 1px 3px rgb(0 0 0 / 30%);
  --s-elevation4: 0 6px 10px 4px rgb(0 0 0 / 15%), 0 2px 3px rgb(0 0 0 / 30%);
  --s-elevation5: 0 8px 12px 6px rgb(0 0 0 / 15%), 0 4px 4px rgb(0 0 0 / 30%);
  --t-display-large-line-height: 4.75rem;
  --t-display-large-size: 3.375rem;
  --t-display-large-letter-spacing: 0;
  --t-display-large-weight: 400;
  --t-display-medium-line-height: 3.75rem;
  --t-display-medium-size: 2.6875rem;
  --t-display-medium-letter-spacing: 0;
  --t-display-medium-weight: 400;
  --t-display-small-line-height: 3rem;
  --t-display-small-size: 2.125rem;
  --t-display-small-letter-spacing: 0;
  --t-display-small-weight: 400;
  --t-headline-large-line-height: 2.75rem;
  --t-headline-large-size: 1.875rem;
  --t-headline-large-letter-spacing: 0;
  --t-headline-large-weight: 400;
  --t-headline-medium-line-height: 2.375rem;
  --t-headline-medium-size: 1.6875rem;
  --t-headline-medium-letter-spacing: 0;
  --t-headline-medium-weight: 400;
  --t-headline-small-line-height: 2.125rem;
  --t-headline-small-size: 1.4375rem;
  --t-headline-small-letter-spacing: 0;
  --t-headline-small-weight: 400;
  --t-title-large-line-height: 1.875rem;
  --t-title-large-size: 1.3125rem;
  --t-title-large-letter-spacing: 0;
  --t-title-large-weight: 400;
  --t-title-medium-line-height: 1.5rem;
  --t-title-medium-size: 1rem;
  --t-title-medium-letter-spacing: -0.0187rem;
  --t-title-medium-weight: 500;
  --t-title-small-line-height: 1.25rem;
  --t-title-small-size: 0.8125rem;
  --t-title-small-letter-spacing: 0.0125rem;
  --t-title-small-weight: 500;
  --t-label-large-line-height: 1.25rem;
  --t-label-large-size: 0.875rem;
  --t-label-large-letter-spacing: -0.0156rem;
  --t-label-large-weight: 500;
  --t-label-medium-line-height: 1rem;
  --t-label-medium-size: 0.75rem;
  --t-label-medium-letter-spacing: 0.0094rem;
  --t-label-medium-weight: 500;
  --t-label-small-line-height: 1rem;
  --t-label-small-size: 0.6875rem;
  --t-label-small-letter-spacing: 0.0125rem;
  --t-label-small-weight: 500;
  --t-body-large-line-height: 1.5rem;
  --t-body-large-size: 1rem;
  --t-body-large-letter-spacing: 0.0125rem;
  --t-body-large-weight: 400;
  --t-body-medium-line-height: 1.25rem;
  --t-body-medium-size: 0.875rem;
  --t-body-medium-letter-spacing: -0.0063rem;
  --t-body-medium-weight: 400;
  --t-body-small-line-height: 1rem;
  --t-body-small-size: 0.75rem;
  --t-body-small-letter-spacing: 0.0063rem;
  --t-body-small-weight: 400;
}

:root[data-theme="dark"] {
  --c-primary: #d0bcff;
  --c-primary-container: #4f378b;
  --c-secondary: #ccc2dc;
  --c-secondary-container: #4a4458;
  --c-tertiary: #efb8c8;
  --c-tertiary-container: #633b48;
  --c-surface: #1c1b1f;
  --c-surface-variant: #49454f;
  --c-background: #1c1b1f;
  --c-error: #f2b8b5;
  --c-error-container: #8c1d18;
  --c-on-primary: rgb(55 30 115);
  --c-on-primary-container: rgb(234 221 255);
  --c-on-secondary: rgb(51 45 65);
  --c-on-secondary-container: rgb(232 222 248);
  --c-on-tertiary: rgb(73 37 50);
  --c-on-tertiary-container: rgb(255 216 228);
  --c-on-surface: rgb(230 225 229);
  --c-surface-hover: rgb(230 225 229 / 8%);
  --c-surface-focus: rgb(230 225 229 / 12%);
  --c-surface-press: rgb(230 225 229 / 12%);
  --c-on-surface-variant: rgb(202 196 208);
  --c-on-error: rgb(96 20 16);
  --c-on-error-container: rgb(249 222 220);
  --c-on-background: rgb(230 225 229);
  --c-outline: #938f99;
  --c-shadow: #000;
  --c-inverse-surface: #e6e1e5;
  --c-inverse-on-surface: rgb(49 48 51);
  --c-inverse-primary: #6750a4;
  --s-elevation1: 0 1px 3px 1px rgb(0 0 0 / 15%), 0 1px 2px rgb(0 0 0 / 30%);
  --s-elevation2: 0 2px 6px 2px rgb(0 0 0 / 15%), 0 1px 2px rgb(0 0 0 / 30%);
  --s-elevation3: 0 4px 8px 3px rgb(0 0 0 / 15%), 0 1px 3px rgb(0 0 0 / 30%);
  --s-elevation4: 0 6px 10px 4px rgb(0 0 0 / 15%), 0 2px 3px rgb(0 0 0 / 30%);
  --s-elevation5: 0 8px 12px 6px rgb(0 0 0 / 15%), 0 4px 4px rgb(0 0 0 / 30%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"],
[role="button"] {
  color: inherit;
  cursor: pointer;
}

nav,
ol,
ul {
  list-style-type: none;
}
