.container {
  display: flex;
  gap: 4px;
  align-items: center;
  height: 64px;
  padding: 0 4px;
  background-color: rgb(var(--c-surface));
}

.headline {
  font-size: var(--t-title-large-size);
  font-weight: var(--t-title-large-weight);
  line-height: var(--t-title-large-line-height);
  color: rgb(var(--c-on-surface));
  letter-spacing: var(--t-title-large-letter-spacing);
}

.spacer {
  flex: 1 1 0;
}
