@use "styles/variables";

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
  padding: 0 16px;
  background-color: var(--c-primary);
}

.leftWrapper {
  display: flex;
  gap: 32px;
  align-items: center;
}

.brand {
  display: flex;
  gap: 4px;
  align-items: center;
}

.appName {
  color: var(--c-on-primary-high);
  @include variables.headline6;
}

.rightWrapper {
  display: flex;
  gap: 16px;
}
