@use "styles/variables";

.container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.top {
  display: flex;
  gap: 8px;
  align-items: baseline;
}

.title {
  color: var(--c-on-background-high);
  @include variables.headline5;
}

.date {
  color: var(--c-on-background-medium);
  @include variables.subtitle1;
}

.taskNum {
  color: var(--c-on-background-medium);
  @include variables.body2;
}
