.container {
  position: relative;
  display: flex;
  gap: 12px;
  align-items: center;
  padding-right: 8px;
  font-size: 0.875rem;
  font-weight: 600;
  color: rgb(0 0 0 /54%);
  background-color: var(--c-surface);
  border: 1px solid #fff;
  border-radius: 2px;
  box-shadow: var(--e-level1);
}

[data-theme="dark"] .container {
  color: #fff;
  background-color: #4285f4;
  border: 1px solid #4285f4;
}

.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  border-radius: inherit;
}

.container:hover > .layer {
  background-color: rgb(
    var(--c-on-surface-rgb) / var(--s-hover-state-layer-opacity)
  );
}

.container:focus > .layer {
  background-color: rgb(
    var(--c-on-surface-rgb) / var(--s-focus-state-layer-opacity)
  );
}

.container:active > .layer {
  background-color: rgb(
    var(--c-on-surface-rgb) / var(--s-pressed-state-layer-opacity)
  );
}

.logoBackground {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 2px;
}
