.container {
  position: relative;
  display: flex;
  gap: 12px;
  align-items: center;
  padding-right: 8px;
  font-size: 0.875rem;
  font-weight: 600;
  color: rgb(0 0 0 / 54%);
  background-color: var(--c-surface);
  border: 1px solid #fff;
  border-radius: 2px;
  box-shadow: var(--s-elevation1);
}

[data-theme="dark"] .container {
  color: #fff;
  background-color: #4285f4;
  border: 1px solid #4285f4;
}

.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: inherit;
}

.layer:hover {
  background-color: var(--c-surface-hover);
}

.logoBackground {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 2px;
}
