@use "styles/variables";

.outer {
  display: flex;
  gap: 56px;
  justify-content: center;
  max-width: 840px;
  height: 80px;
  background-color: var(--c-surface);
  border: 1px solid var(--c-outline);
  border-radius: 4px;

  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 146px;

    .value {
      color: var(--c-on-light-high-emphasis);

      @include variables.headline4;
    }

    .key {
      color: var(--c-on-light-medium-emphasis);

      @include variables.subtitle1;
    }
  }
}
