:root {
  /* タイポグラフィトークン https://m3.material.io/styles/typography/type-scale-tokens */
  --t-display-large-line-height: 4rem;
  --t-display-large-size: 3.5625rem;
  --t-display-large-letter-spacing: 0;
  --t-display-large-weight: 400;
  --t-display-medium-line-height: 3.25rem;
  --t-display-medium-size: 2.8125rem;
  --t-display-medium-letter-spacing: 0;
  --t-display-medium-weight: 400;
  --t-display-small-line-height: 2.75rem;
  --t-display-small-size: 2.25rem;
  --t-display-small-letter-spacing: 0;
  --t-display-small-weight: 400;
  --t-headline-large-line-height: 2.5rem;
  --t-headline-large-size: 2rem;
  --t-headline-large-letter-spacing: 0;
  --t-headline-large-weight: 400;
  --t-headline-medium-line-height: 2.25rem;
  --t-headline-medium-size: 1.75rem;
  --t-headline-medium-letter-spacing: 0;
  --t-headline-medium-weight: 400;
  --t-headline-small-line-height: 2rem;
  --t-headline-small-size: 1.5rem;
  --t-headline-small-letter-spacing: 0;
  --t-headline-small-weight: 400;
  --t-title-large-line-height: 1.75rem;
  --t-title-large-size: 1.375rem;
  --t-title-large-letter-spacing: 0;
  --t-title-large-weight: 400;
  --t-title-medium-line-height: 1.5rem;
  --t-title-medium-size: 1rem;
  --t-title-medium-letter-spacing: 0.009375rem;
  --t-title-medium-weight: 500;
  --t-title-small-line-height: 1.25rem;
  --t-title-small-size: 0.875rem;
  --t-title-small-letter-spacing: 0.00625rem;
  --t-title-small-weight: 500;
  --t-label-large-line-height: 1.25rem;
  --t-label-large-size: 0.875rem;
  --t-label-large-letter-spacing: 0.00625rem;
  --t-label-large-weight: 500;
  --t-label-medium-line-height: 1rem;
  --t-label-medium-size: 0.75rem;
  --t-label-medium-letter-spacing: 0.03125rem;
  --t-label-medium-weight: 500;
  --t-label-small-line-height: 1rem;
  --t-label-small-size: 0.6875rem;
  --t-label-small-letter-spacing: 0.03125rem;
  --t-label-small-weight: 500;
  --t-body-large-line-height: 1.5rem;
  --t-body-large-size: 1rem;
  --t-body-large-letter-spacing: 0.03125rem;
  --t-body-large-weight: 400;
  --t-body-medium-line-height: 1.25rem;
  --t-body-medium-size: 0.875rem;
  --t-body-medium-letter-spacing: 0.015625rem;
  --t-body-medium-weight: 400;
  --t-body-small-line-height: 1rem;
  --t-body-small-size: 0.75rem;
  --t-body-small-letter-spacing: 0.025rem;
  --t-body-small-weight: 400;

  /* ステートレイヤートークン https://m3.material.io/foundations/interaction-states */
  --s-hover-state-layer-opacity: 8%;
  --s-focus-state-layer-opacity: 12%;
  --s-pressed-state-layer-opacity: 12%;
  --s-dragged-state-layer-opacity: 16%;
}

/*
 * ベースラインカラースキーマトークン
 * https://m3.material.io/styles/color/the-color-system/tokens
 * その色を透過した色を使うことがあるので全てRGB色の値で定義している。
 */
:root[data-theme="light"] {
  color-scheme: light;

  --c-primary: 103 80 164;
  --c-primary-container: 234 221 255;
  --c-secondary: 98 91 113;
  --c-secondary-container: 232 222 248;
  --c-tertiary: 125 82 96;
  --c-tertiary-container: 255 216 228;
  --c-surface: 255 251 254;
  --c-surface-variant: 231 224 236;
  --c-background: 255 251 254;
  --c-error: 179 38 30;
  --c-error-container: 249 222 220;
  --c-on-primary: 255 255 255;
  --c-on-primary-container: 33 0 94;
  --c-on-secondary: 255 255 255;
  --c-on-secondary-container: 30 25 43;
  --c-on-tertiary: 255 255 255;
  --c-on-tertiary-container: 55 11 30;
  --c-on-surface: 28 27 31;
  --c-on-surface-variant: 73 69 78;
  --c-on-error: 255 255 255;
  --c-on-error-container: 55 11 30;
  --c-on-background: 28 27 31;
  --c-outline: 121 116 126;
  --c-shadow: 0 0 0;
  --c-surface-tint: 103 80 164;
  --c-inverse-surface: 49 48 51;
  --c-inverse-on-surface: 244 239 244;
  --c-inverse-primary: 208 188 255;

  --e-level1: 0 1px 2px rgb(0 0 0 / 30%), 0 1px 3px 1px rgb(0 0 0 / 15%);
  --e-level2: 0 1px 2px rgb(0 0 0 / 30%), 0 2px 6px 2px rgb(0 0 0 / 15%);
  --e-level3: 0 4px 8px 3px rgb(0 0 0 / 15%), 0 1px 3px rgb(0 0 0 / 30%);
  --e-level4: 0 6px 10px 4px rgb(0 0 0 / 15%), 0 2px 3px rgb(0 0 0 / 30%);
  --e-level5: 0 8px 12px 6px rgb(0 0 0 / 15%), 0 4px 4px rgb(0 0 0 / 30%);
}

:root[data-theme="dark"] {
  color-scheme: dark;

  --c-primary: 208 188 255;
  --c-primary-container: 79 55 139;
  --c-secondary: 204 194 220;
  --c-secondary-container: 74 68 88;
  --c-tertiary: 239 184 200;
  --c-tertiary-container: 99 59 72;
  --c-surface: 28 27 31;
  --c-surface-variant: 73 69 79;
  --c-background: 28 27 31;
  --c-error: 242 184 181;
  --c-error-container: 140 29 24;
  --c-on-primary: 55 30 115;
  --c-on-primary-container: 234 221 255;
  --c-on-secondary: 51 45 65;
  --c-on-secondary-container: 232 222 248;
  --c-on-tertiary: 73 37 50;
  --c-on-tertiary-container: 255 216 228;
  --c-on-surface: 230 225 229;
  --c-on-surface-variant: 202 196 208;
  --c-on-error: 96 20 16;
  --c-on-error-container: 249 222 220;
  --c-on-background: 230 225 229;
  --c-outline: 147 143 153;
  --c-shadow: 0 0 0;
  --c-surface-tint: 208 188 255;
  --c-inverse-surface: 230 225 229;
  --c-inverse-on-surface: 49 48 51;
  --c-inverse-primary: 103 80 164;

  --e-level1: 0 1px 3px 1px rgb(0 0 0 / 15%), 0 1px 2px rgb(0 0 0 / 30%);
  --e-level2: 0 2px 6px 2px rgb(0 0 0 / 15%), 0 1px 2px rgb(0 0 0 / 30%);
  --e-level3: 0 4px 8px 3px rgb(0 0 0 / 15%), 0 1px 3px rgb(0 0 0 / 30%);
  --e-level4: 0 6px 10px 4px rgb(0 0 0 / 15%), 0 2px 3px rgb(0 0 0 / 30%);
  --e-level5: 0 8px 12px 6px rgb(0 0 0 / 15%), 0 4px 4px rgb(0 0 0 / 30%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
}

:where(html) {
  font-family: "Roboto", "Noto Sans JP", sans-serif;
}

:where(a) {
  color: inherit;
  text-decoration: none;
}

:where(button, [type="button"], [type="reset"], [type="submit"], [role="button"]) {
  color: inherit;
  cursor: pointer;
  border-width: 0;
}

:where(nav, ol, ul, menu) {
  list-style-type: none;
}

:where(svg:not([fill])) {
  fill: currentColor;
}

:where([aria-hidden="false"], [disabled]) {
  cursor: not-allowed;
}
