@use "styles/variables";

.mainLayout {
  display: flex;
  justify-content: space-between;
  padding-top: 112px;
  @include variables.mq(xs) {
    flex-direction: column;
    gap: 40px;
    align-items: center;
    padding-top: 32px;
  }
}

.leftWrapper {
  display: flex;
  flex-direction: column;
  gap: 56px;
  @include variables.mq(xs) {
    gap: 28px;
    align-items: center;
  }
}

.imageContainer {
  position: relative;
  width: 480px;
  height: 340px;
  @include variables.mq(xs) {
    position: relative;
    width: 340px;
    height: 240px;
  }
}
