.main {
  display: flex;
  flex-direction: column;
  max-width: 1040px;
  padding: 16px 0;
  margin: 0 auto;
}

.listLayout {
  margin-top: 16px;
}

.playerLayout {
  position: fixed;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
}
