.container {
  display: grid;
  grid-template-areas:
    "header header"
    "drawer main";
  grid-template-rows: 56px 1fr;
  grid-template-columns: 256px 1fr;
}

.header {
  grid-area: header;
}

.drawer {
  grid-area: drawer;
}

.main {
  display: flex;
  flex-direction: column;
  grid-area: main;
  width: 100%;
  max-width: 1040px;
  padding: 16px 0;
  margin: 0 auto;
}

.list {
  margin-top: 16px;
}

.player {
  position: fixed;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
}
