@use "styles/variables";

.label {
  display: flex;
  gap: 8px;
  align-items: baseline;
  padding-bottom: 4px;
  border-bottom: 1px solid var(--c-outline);

  h3 {
    color: var(--c-on-background-high);
    @include variables.subtitle1;
  }

  p {
    color: var(--c-on-background-medium);
    @include variables.caption;
  }
}
