.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  border-radius: 12px;
}

.colorInPomodoro {
  color: rgb(var(--c-on-primary-container-rgb));
  background-color: var(--c-primary-container);
}

.colorInRest {
  color: rgb(var(--c-on-secondary-container-rgb));
  background-color: var(--c-secondary-container);
}

.timeText {
  font-size: 4rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
}

.labelText {
  font-size: var(--t-title-medium-size);
  font-weight: var(--t-title-medium-weight);
  line-height: var(--t-title-medium-line-height);
  letter-spacing: var(--t-title-medium-letter-spacing);
}

.actionButtons {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-top: 16px;
}

.actionButton {
  position: relative;
  width: 56px;
  height: 56px;
  background-color: transparent;
  border-radius: 16px;
}

.actionButtonLayerInPomodoro {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 16px;
}

.actionButton:hover > .actionButtonLayerInPomodoro {
  background-color: rgb(
    var(--c-on-primary-container-rgb) / var(--s-hover-state-layer-opacity)
  );
}

.actionButton:focus > .actionButtonLayerInPomodoro {
  background-color: rgb(
    var(--c-on-primary-container-rgb) / var(--s-focus-state-layer-opacity)
  );
}

.actionButton:active > .actionButtonLayerInPomodoro {
  background-color: rgb(
    var(--c-on-primary-container-rgb) / var(--s-pressed-state-layer-opacity)
  );
}

.actionButtonLayerInRest {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 16px;
}

.actionButton:hover > .actionButtonLayerInRest {
  background-color: rgb(
    var(--c-on-secondary-container-rgb) / var(--s-hover-state-layer-opacity)
  );
}

.actionButton:focus > .actionButtonLayerInRest {
  background-color: rgb(
    var(--c-on-secondary-container-rgb) / var(--s-focus-state-layer-opacity)
  );
}

.actionButton:active > .actionButtonLayerInRest {
  background-color: rgb(
    var(--c-on-secondary-container-rgb) / var(--s-pressed-state-layer-opacity)
  );
}
