.container {
  position: relative;
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  color: rgb(var(--c-on-surface));
  background-color: transparent;
  border-radius: 14px;
}

.containerVariant {
  color: rgb(var(--c-on-surface-variant));
}

.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 14px;
}

.container:hover > .layer {
  background-color: rgb(
    var(--c-on-surface) / var(--s-hover-state-layer-opacity)
  );
}

.container:focus > .layer {
  background-color: rgb(
    var(--c-on-surface) / var(--s-focus-state-layer-opacity)
  );
}

.container:active > .layer {
  background-color: rgb(
    var(--c-on-surface) / var(--s-pressed-state-layer-opacity)
  );
}

.container:hover > .layerVariant {
  background-color: rgb(
    var(--c-on-surface-variant) / var(--s-hover-state-layer-opacity)
  );
}

.container:focus > .layerVariant {
  background-color: rgb(
    var(--c-on-surface-variant) / var(--s-focus-state-layer-opacity)
  );
}

.container:active > .layerVariant {
  background-color: rgb(
    var(--c-on-surface-variant) / var(--s-pressed-state-layer-opacity)
  );
}
