.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  color: rgb(var(--c-on-surface-variant));
  background-color: transparent;
}

.container:disabled {
  color: rgb(var(--c-on-surface) / 38%);
}

.stateLayer {
  position: absolute;
  top: 4px;
  right: 4px;
  bottom: 4px;
  left: 4px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.container:hover > .stateLayer {
  background-color: rgb(
    var(--c-on-surface-variant) / var(--s-hover-state-layer-opacity)
  );
}

.container:focus > .stateLayer {
  background-color: rgb(
    var(--c-on-surface-variant) / var(--s-focus-state-layer-opacity)
  );
}

.container:active > .stateLayer {
  background-color: rgb(
    var(--c-on-surface-variant) / var(--s-pressed-state-layer-opacity)
  );
}
