@use "styles/variables";

.container {
  display: flex;
  gap: 32px;
  align-items: center;
  height: 56px;
  padding: 0 16px;
  background-color: var(--c-surface);
  border-bottom: 1px solid var(--c-outline);
}

.main {
  flex: 0 1 100%;
}

.title {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  color: var(--c-on-surface-high);
  @include variables.subtitle1;
}

.captions {
  display: flex;
}

.actualWrapper {
  display: flex;
  align-items: center;
  color: var(--c-on-surface-medium);
  @include variables.subtitle2;
}

.divider {
  margin-left: 4px;
}

.expectedWrapper {
  display: flex;
  align-items: center;
  color: var(--c-on-surface-disable);
  @include variables.subtitle2;
}

.dueOn {
  color: var(--c-on-surface-medium);
  @include variables.subtitle2;
}

.spacing {
  width: 12px;
  opacity: 0;
}
