@use "styles/variables";

.outer {
  display: flex;
  justify-content: space-between;
  height: 40px;
  padding: 8px 0;

  .leftWrapper {
    display: flex;
    gap: 16px;
    align-items: center;

    .countWrapper {
      display: flex;
      gap: 4px;
      align-items: center;
      width: 48px;
      color: var(--c-on-light-high-emphasis);

      @include variables.body1;
    }

    .name {
      color: var(--c-on-light-high-emphasis);

      @include variables.subtitle1;
    }
  }

  .time {
    color: var(--c-on-light-medium-emphasis);

    @include variables.body2;
  }
}
