html,
body {
  font-family: "Noto Sans JP", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

[role="button"] {
  cursor: pointer;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

input {
  border: none;
}

input:focus {
  outline: none;
}

:root {
  --c-primary: #192f60;
  --c-secondary: #427eff;
  --c-surface: #fff;
  --c-outline: rgba(0, 0, 0, 0.12);
  --c-error: #b00020;
  --c-on-light-high-emphasis: rgba(0, 0, 0, 0.87);
  --c-on-light-medium-emphasis: rgba(0, 0, 0, 0.6);
  --c-on-light-disable: rgba(0, 0, 0, 0.37);
  --c-on-dark: #fff;
}
