html,
body {
  font-family: "Noto Sans JP", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

input {
  border: none;
}

input:focus {
  outline: none;
}

:root {
  --c-primary: #192F60;
  --c-secondary: #427EFF;
  --c-surface: #FFF;
  --c-outline: rgba(0, 0, 0, 0.12);
  --c-on-light-high-emphasis: rgba(0,0,0,0.87);
  --c-on-light-medium-emphasis: rgba(0,0,0,0.60);
  --c-on-light-disable: rgba(0,0,0,0.37);
  --c-on-dark: #fff;
}
